.label {
  margin-left: 3px;
}

.progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10px;
  width: 100%;
  max-width: 400px;
}

.progressBar {
  align-items: center;
  height: 10px;
  width: 100%;
}