.toolbar {
  display: flex;
  justify-content: space-between;
}

.leftAligned {
  display: flex;
  justify-content: space-between;
  padding-right: auto;
}

.rightAligned {
  display: flex;
  justify-content: space-between;
  padding-left: auto;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: auto;
  text-decoration: none !important;
}

.navbarItem {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none !important;
}

.updateButton {
  position: fixed;
  right: 125px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}
